<div class="profile-container">
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/booking">Booking</a>
      <a href="/logout">Logout</a>
    </nav>
  </header>
  <h1>Profile page</h1>

  <section class="profile-top">
    <div>

      <div><b>Username:</b> <span>{{user.username}}</span></div>
      <div><b>Email:</b> <span>{{user.email}}</span></div>
      <div><b>Password:</b> <span>********</span></div>

    </div>

    <div>
      <img src="{{user.imageUrl}}" alt="profile image" width="150" />
      <br>
      <a href="/profile/{{user._id}}/edit">Edit profile</a>
    </div>
  </section>

  {{#if events}}
    
    <section class="profile-mid">

      {{#if pendingBookings}}

        <hr />
        <h3>Pending bookings</h3>
        
        <div>
          {{#each pendingBookings}}
            <div>
              <div><b>Name:</b> <span>{{username}}</span></div>
              <div><b>Service:</b> <span>{{service}}</span></div>
              <div>
                <b>Date:</b>
                <span>{{eventDay}}-{{eventMonth}}-{{eventYear}}</span></div>
              <div> <b>Time:</b> <span>{{eventHour}}:{{eventMin}}H</span></div>

              {{#if message}}
              <div> <b>Message:</b> <span>{{message}}</span></div>
              {{/if}}
              {{#if contact}}
              <div> <b>Contact:</b> <span>{{contact}}</span></div>
              {{/if}}
              <div> <b>Status:</b> <span>{{reqStatus}}</span></div>

              <div>
                <a href="/send-email/{{id}}">Reply</a>
                <a href="/profile/{{id}}/booking/confirm">Confirm</a>
                <a href="/profile/{{id}}/booking/delete">Reject</a>
              </div>
            </div>
            <br />
          {{/each}}
        </div>

      {{/if}}
      <hr />

      {{#if confirmedBookings}}
        <h3>Confirmed bookings</h3>
        <div>
          {{#each confirmedBookings}}
            <div>
              <div><b>Name:</b> <span>{{username}}</span></div>
              <div><b>Service:</b> <span>{{service}}</span></div>
              <div>
                <b>Date:</b>
                <span>{{eventDay}}-{{eventMonth}}-{{eventYear}}</span></div>
              <div> <b>Time:</b> <span>{{eventHour}}:{{eventMin}}H</span></div>
              {{#if message}}
              <div> <b>Message:</b> <span>{{message}}</span></div>
              {{/if}}
              {{#if contact}}
              <div> <b>Contact:</b> <span>{{contact}}</span></div>
              {{/if}}
              <div> <b>Status:</b> <span>{{reqStatus}}</span></div>

              <div>
                <a href="/profile/{{id}}/booking/edit">Edit</a>
                <a href="/profile/{{id}}/booking/delete">Cancel</a>
              </div>
            </div>
            <br />
          {{/each}}
        </div>
        <hr />
      {{/if}}
    
    </section>
  {{/if}}

  {{#if deleteConfirmation}}
    <p>{{deleteConfirmation}}</p>
  {{/if}}
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}

</div>