<section id="edit-profile-container">
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/booking">Booking</a>
      <a href="/logout">Logout</a>
    </nav>
  </header>
  <h2>Edit profile</h2>
  <div class="profile-top">
    <form action="/profile/{{user._id}}/edit" method="post" enctype="multipart/form-data">
      <div>
        <label>
          Name:
          <input type="text" name="username" value="{{user.username}}" />
        </label>
        <br />
        <label>
          Email:
          <input type="email" name="email" value="{{user.email}}" />
        </label>
        <br />
        <label>
          Password:
          <input type="password" name="password" value="********" />
        </label>
      </div>
      <div>
        <img src="{{user.imageUrl}}" alt="Profile image" width="150" />
        <br />
        <input type="text" name="existingImage" value="{{user.imageUrl}}" hidden>
        <input type="file" name="profile-image">
      </div>
      <br />
      <button type="submit">Update</button>
    </form>

  </div>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</section>