<div class="profile-container">

  <h1>Profile</h1>

  <section class="profile-top">
    <div class="profile-info">
      <div><b>Username:</b> <span>{{user.username}}</span></div>
      <div><b>Email:</b> <span>{{user.email}}</span></div>
      <div><b>Password:</b> <span>********</span></div>
      <a href="/profile/{{user._id}}/edit">Edit profile</a>
    </div>
    
    <div>
      <img src="{{user.imageUrl}}" alt="profile image" width="150" />
    </div>
  </section>

  {{#if user.events}}
    
    <section class="profile-mid">

      {{#if pendingBookings}}
        <hr />
        <div class="pending-container">
          <h3>Pending bookings</h3>
        
          {{#each pendingBookings}}
            <div class="pending-booking">
              <div><b>Service:</b> <span>{{this.service}}</span></div>
              <div>
                <b>Date:</b>
                <span>{{eventDay}}-{{eventMonth}}-{{eventYear}}</span></div>
              <div> <b>Time:</b> <span>{{eventHour}}:{{eventMin}}H</span></div>
              <div> <b>Status:</b> <span>{{reqStatus}}</span></div>
              <div>
                <a href="/profile/{{id}}/booking/edit">Edit</a>
                <a href="/profile/{{id}}/booking/delete">Delete</a> 
              </div>
            </div>
            <br />
          {{/each}}
        </div>
      {{/if}}
      <hr />

      {{#if confirmedBookings}}
        <div class="confirmed-container">
          <h3>Confirmed bookings</h3>

          {{#each confirmedBookings}}
            <div class="confirmed-booking">
              <div>
                <b>Service:</b> <span>{{service}}</span>
              </div>
              <div>
                <b>Date:</b>
                <span>{{eventDay}}-{{eventMonth}}-{{eventYear}}</span></div>
              <div> 
                <b>Time:</b> <span>{{eventHour}}:{{eventMin}}H</span>
              </div>
              <div> 
                <b>Status:</b> <span>{{reqStatus}}</span>
              </div>
              <div>
                <a href="/profile/{{id}}/booking/edit">Edit</a>
                <a href="/profile/{{id}}/booking/delete">Delete</a>
              </div>
            </div>
            <br />
          {{/each}}
        </div>
        <hr />
      {{/if}}

      {{#if previousBookings}}

        <div class="past-container">
        <h3>Booking history</h3>
            {{#each previousBookings}}
              <div class="past-booking">
                <div><b>Service:</b> <span>{{service}}</span></div>
                <div>
                  <b>Date:</b>
                  <span>{{eventDay}}-{{eventMonth}}-{{eventYear}}</span></div>
                <div> <b>Time:</b> <span>{{eventHour}}:{{eventMin}}H</span></div>
              </div>
            {{/each}}
          <br />
        </div>
        <hr />
      {{/if}}
    </section>
  {{/if}}

  {{#if deleteConfirmation}}
    <p>{{deleteConfirmation}}</p>
  {{/if}}
</div>