<section id="edit-profile-container">
  <h2>Edit profile</h2>
  <div class="profile-top">
    <form class="profile-info" action="/profile/{{user._id}}/edit" method="post" enctype="multipart/form-data">
      
      <label>
        Name:
        <input type="text" name="username" value="{{user.username}}" />
      </label>
      <br />
      <label>
        Email:
        <input type="email" name="email" value="{{user.email}}" />
      </label>
      <br />
      <label>
        Password:
        <input type="password" name="password" value="********" />
      </label>
      
      <br />
      <button type="submit">Update</button>
      <a href="/profile">Back</a>
      
    </form>
    <div>
      <img src="{{user.imageUrl}}" alt="Profile image" width="150" />
      <br />
      <input type="text" name="existingImage" value="{{user.imageUrl}}" hidden>
      <input type="file" name="profile-image">
    </div>
  </div>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</section>